

.#{$dgl}{
	&-main{		
		height:100%;
		width:100%;

		&--fixed{
			width: 1280px;
			margin:auto;
			background: #fff;
			.#{$dgl}-content{
				overflow:visible;
			}

			.#{$dgl}-header__content{
				width:auto;
			}

		}
	}

	&-content{
		width: 100%;
		margin: 0 auto;
		background: #fff;
		height: calc(100% - 101px);	
		overflow: auto;
		&--boxed{
			background: #f2f2f2;

			.#{$dgl}-page,.#{$dgl}-breadcrumbs-wrapper{
				border-left: solid 1px #e1e1e1;
    			border-right: solid 1px #e1e1e1;		
			}
		}
	}

	&-page{
		width: 1280px;
		margin: auto;
		padding: 20px 25px;
		background: #fff;
		min-height: calc(100% - 44px);
		&--bordered{
			border-left: solid 1px #e1e1e1;
    		border-right: solid 1px #e1e1e1;
		}

		&__title{
			font-size: 25px;
			text-transform: uppercase;
			margin: 0;
		}
	}

	&-identifier{
		font-weight: 600;
		letter-spacing: 1px;
		color: #c91119 !important;
		font-size: 17px;
		padding: 0 10px;
		margin-top: 10px;
		cursor: pointer;
		&:active,&:focus,&:hover,&:visited{
			color: #b10f16 !important;			
		}
	}
}