/*
 *@_variables : all variables 
 *
 */

 $dgl:"dgl";



 $pri-color: #21426d;//#2947AD;
 $pri-color--hover:#274e80;

 $sec-color: #c91119 ;//#2947AD;
 $sec-color--hover:#b10f16;

 $font-gray:#8d8d8d;


//Transition Speed
 $tr-slow:.2s;
 $tr-medium:.5s;
 $tr-fast:.9s;


 //Font $pri-color
 $f-color: #5d6976;
 $f-color-light:#758292;

 
